<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
   <% for (const postDetail of postDetails){ %>
      <h1><%= postDetail.title %></h1>
      <section id="post-meta">
        <%= postDetail.summary %>
      </section>
      <hr>
      <section>
        <p id="body"><%= postDetail.body %> </p>
      </section>
     <% } %>
  </main>
</body>

</html>  