<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: postDetails.title  }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
   <% for (const postDetail of postDetails){ %>
      <h1><%= postDetail.title %></h1>
      <section id="post-meta">
        <a href="mailto:" <%= postDetail.email %>> <%= postDetail.name  %> </a> 
        <time>posted on <%= postDetail.date  %></time>
      </section>
      <hr>
      <section>
        <p id="body"><%= postDetail.body %> </p>
      </section>
     <% } %>
  </main>
</body>

</html>  